/* Use the # symbol to target the button with the id 'newGame' */
#newGame {
    -fx-background-color: #8FBC8F;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
}

#newGame:hover {
    -fx-background-color: #8FBC8F;
}

.root {
    -fx-background-image: url("kittybg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.goldRoot {
    -fx-background-image: url("kittybluebg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.label {
     -fx-text-fill: black;
     -fx-font-family: 'Arial';
     -fx-font-size: 15;
     -fx-label-padding: 8px;
}

#Pause_Menu_Dialog_Pane {
    -fx-background-color: lightblue;
}

/* Style for the Resume button */
#resumeButton {
    -fx-background-color: green;
    -fx-text-fill: white;
}

/* Style for the Restart button */
#restartButton {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

/* Style for the Cancel button */
#cancelButton {
    -fx-background-color: red;
    -fx-text-fill: white;
}

